@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* GLOBAL */
* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
}

/* CONTENT */
main {
  padding: 25px 10%;
}

p {
  padding: 10px 0;
}

/* MENU  */
header {
  background-color: #DB4437;
  color: #FFF;
  padding: 70px 10% 10px 10%;
}

ul {
  list-style: none;
}

li {
  padding: 5px 10px;
  margin: 0 5px;
}

li a {
  text-decoration: none;
  color: #FFF;
  padding: 5px;
}

li a:hover {
  font-weight: 700;
  border-bottom: 2px solid #FFF;
}

/* FLEXBOX */
@media screen and (min-width: 551px) {
  .flex-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .flex-bw {
    align-items: center;
  }
}

.flex-bw {
  display: flex;
  justify-content: space-between;
}

/* FOOTER  */
footer {
  padding: 10px 10%;
  background-color: #DB4437;
  color: #FFF;
}

footer p {
  padding: 0;
  text-align: center;
}

/* ASSETS */
img.img-full-width {
  width: 60%;
  margin: 0 20%;
  height: auto;
}

.rotate-anim {
  animation: rotate-360 2s linear;
  animation-iteration-count: 3;
}

@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#mobile-ham {
  display: none;
}

@media screen and (max-width: 550px) {
  .closed nav ul {
    display: none;
  }

  .open nav ul {
    display: block;
    font-size: 20px;
  }

  #mobile-ham {
    display: block;
    font-size: 70px;
    position: absolute;
    top: 40px;
    right: 10%;
    margin: 20px;
  }

  #mobile-ham:hover {
    cursor: pointer;
  }

  .open.flex-bw {
    flex-direction: column;
  }

}
